<div class="slider">
  <div
    id="carouselExampleControls"
    class="carousel slide sliderBanners"
    data-bs-ride="carousel"
  >
    <div class="slogan"><p>{{'Crazy Motors' | uppercase}} </p></div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          [src]="banner2"
          class="d-block w-100"
          alt="Cinematic Motorcycle B-Roll"
        />
      </div>
      <div class="carousel-item">
        <img
          [src]="banner4"
          class="d-block w-100"
          alt="Cinematic Motorcycle B-Roll"
        />
      </div>
      <div class="carousel-item">
        <img
          [src]="banner3"
          class="d-block w-100"
          alt="Cinematic Motorcycle B-Roll"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</div>
